<ion-header>
    <ion-toolbar>
        <ion-title>My Fest</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="content-body">
        <div class="div-izq">
            <div>
                <ion-button class="btn-log btnColor " color="btncolor" shape="round" size="small" (click)="login()">&nbsp;Login&nbsp;&nbsp;</ion-button>
                <ion-button class="btn-log btnColor " color="btncolor" shape="round" size="small" (click)="userRegister()">Sign Up</ion-button>
            </div>
        </div>
        <div class="div-der">
            <app-login *ngIf="loginVar"></app-login>
            <app-register-establishment *ngIf="loginEst"></app-register-establishment>
            <app-register-user *ngIf="loginUser"></app-register-user>
        </div>
        <div class="div-final">
            <ion-button class="btn-emp btnColor" color="btncolor" expand="full" fill="outline" (click)="establishmenRegister()">Registrarse como empresa</ion-button>
        </div>


    </div>

</ion-content>