<div class="lateral">
    <div class="form-login">
        <ion-title class="titulos">REGISTER </ion-title>
        <div class="form-int">
            <ion-item color="btncolor">
                <ion-label>Usuario</ion-label>
                <ion-input></ion-input>
            </ion-item>
            <ion-item color="btncolor">
                <ion-label>Nombre</ion-label>
                <ion-input></ion-input>
            </ion-item>
            <ion-item color="btncolor">
                <ion-label>Correo</ion-label>
                <ion-input></ion-input>
            </ion-item>
            <ion-item color="btncolor">
                <ion-label>&nbsp;Contraseña</ion-label>
                <ion-input></ion-input>
            </ion-item>
            <ion-item color="btncolor">
                <ion-label>R.Contraseña</ion-label>
                <ion-input></ion-input>
            </ion-item>
        </div>
    </div>
    <div class="div-final">
        <ion-button class="btnColor" shape="round" color="btnColor">Login</ion-button>
    </div>
</div>