
    .input-wrapper{
        display: flex;
        justify-content: space-between;
    }
    .label-product p{
        margin-left: 5px;
        
    }
    .input-product{
       width: 60px;
    }

    .ion-color-dark{
        margin-right: 8px;
    }
    



